doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title faker

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body

        include includes/navbar.pug

        // Page Header
        header.masthead(style="background-image: url('assets/img/home-bg.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                        
                            //- h1 FAKER
                            //- span.subheading A Blog Theme by Start Bootstrap

        // Main Content
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-7

                    .post-preview
                        a(href='post.html')
                            h2.post-title
                                | 最高的山,最长的河。
             
                        p.post-meta
                            | Posted by
                            //- a(href='#!') 
                    
                    // Divider
                    hr.my-4

                    // Post preview
                    .post-preview
                        a(href='post.html')
                            h2.post-title
                                | 他站在那，就是胜利的希望。
                            h3.post-subtitle
                                //- | He stands there, the hope of victory
                        p.post-meta
                            | Posted by
                            a(href='#!') 
                    
                    // Divider
                    hr.my-4

                    // Post preview
                    .post-preview
                        a(href='post.html')
                            h2.post-title
                                | 单纯实力强不会有这么多粉丝,主要是人太纯粹了。
                        p.post-meta
                            | Posted by 
                            a(href='#!') 扬言
                            //- | on September 18, 2023
                    
                    // Divider
                    hr.my-4

                    // Post preview
                    .post-preview
                        a(href='post.html')
                            h2.post-title
                                | 我们两个人打他都打不死,他真的很难死,像大魔王一样。
                            h3.post-subtitle
                                //- | We predict too much for the next year and yet far too little for the next ten.
                        p.post-meta
                            | Posted by
                            a(href='#!') Cool
                            //- | on August 24, 2023

                    // Divider
                    hr.my-4

                    // Post preview
                    .post-preview
                        a(href='post.html')
                            h2.post-title
                                | 你从不向众神祈祷，因为众神都在传颂你的名号
                            h3.post-subtitle
                                //- | Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        p.post-meta
                            | Posted by
                            //- a(href='#!') Sta
                            //- | on July 8, 2023
                    
                    // Divider
                    hr.my-4

                    // Pager
                    .d-flex.justify-content-end.mb-4
                        a.btn.btn-primary.text-uppercase(href='#!') Older Posts →
        
        include includes/footer.pug

        include includes/scripts.pug
